{% extends "padre.html" %}

{% load static %}

{% block titulo %}

<h1>Acerca de mi</h1>

{% endblock %}

{% block subtitulo %}

un poco de mi historia

{% endblock %}


{% block contenido %}
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <h2 class="section-heading">Inicios</h2>
                <p>Me llamo <b>Mauro Leonel Silva</b>, pero toda la vida me conocieron como <b>Toto</b></p>
                <p>Nací en Río Gallegos, Santa Cruz, luego de la nevada grande que fue la ultima gran nevada de mi ciudad, y a partir de ahi hubo un cambio climatico. desde entonces hubo todo un cambio de paragigma de la ciudad, y se pudieron hacer mas actividades al aire libre y relacionarse de otro tipo de formas.</p>
                <p>Considero que una de las cosas que son parte de mi identidad es el teatro, lo hago desde que tengo 8 años, y cuando toco la hora de decidir que carrera seguir tome la decisión de irme a Córdoba a estudiar algo relacionado con eso. Pero no funcionó, la ciudad no coincidió conmigo y viceversa, por lo que tome la decision de probar en Buenos Aires, y si no funcionaba me volveria a mi ciudad.</p>
                
                <h2 class="section-heading">Amor a primera vista</h2>
                <p>Buenos aires me conmovió y me conmueve, desde el momento uno su intensidad, su gente, su cantidad de cosas por hacer me hizo tomar completamente la decisión de vivir ahi y quedarme junto a mi hermana, y empece la carrera de profesorado de teatro</p>
                <p>Ahí me profesionalice, conoci a mi mejor amiga Luna Cano Fournier, una teatrera de la ostia, es la única manera que se me ocurre en definirla rapidamente, creadora sin límites, y juntos nos acompañamos durante toda la carrera hasta que me recibí, empezamos a crear una obra y luego de un año de producción cuando faltaba una semana para el estreno...vino la pandemia.</p>
                
                <h2 class="section-heading">Catastrofe</h2>
                <p>La pandemia afecto a todo el mundo y detuvo todo a su paso, sinceramente fueron un par de años de mucha confusion, de no saber si podria seguir con mi sueño o que decision tomar, fueron años de espera de luto de pensar y mirar demasiado hacia adentro.</p>
                <p>Una de las cosas que se me ocurrieron fue empezar a usar mas la pc, resistimos con los Pompapetriyasos, un grupo de teatro comunitario del barrio de Parque Patricios, haciendo cosas via zoom, y logramos conmover a muchos espectadores y sostenernos en esta ardua lucha que atravesabamos como mundo.</p>
                <p>Al mismo tiempo en esta epoca buscaba como entretenerme y como no perder el tiempo, entonces fue asi que me creuce con la programación, hice un pequeño curso de diseño web y aunque no logre terminarlo por como me sentia en esa época, pense que era una buena alternativa por si el caos nunca paraba y tendria una profesion a la que dedicarme.</p>
                <p>Fue asi que comence en el mundo de la programación, y en noviembre del 2020 retorne a mi tierra.</p>

                <h2 class="section-heading">Nuevas oportunidades...</h2>
                <p>Volvi a mi ciudad, luego de 5 años de abandonarla, de retornar solo para las fiestas y no perder vinculos que apreciaba, volvi...fue una confusion muy grande, entre quedarme para siempre o volver como  estaba estipulado. Pasaron muchas cosas, entre que me reenamore de mi ciudad, que recorde lo importante de la familia y de estar cerca, me reuni con protocolos a mi primer grupo de teatro llamado Luces de Bengala, y de pronto empezamos a hacer obras de teatro.</p>
                <p>De pronto creamos 5 obras de teatro, con las cuales nos presentamos en la seleccion provincial de obras, y quedamos en 4to puesto y yo fui elegido como "Actor Revelación", por lo cual nos metieron en el circuito de teatro de mi provincia y recorri con mi obra la mitad de mi provincia.</p>
                <p>Un año mas tarde seria parte de los profesores de mi primer escuela, y viajariamos en 2 oportunidades con un grupo de adolescentes de 28 integrantes, presentando nuestra obra colectiva y siendo seleccionados como "Representantes del teatro joven de Santa Cruz"</p>

                <h2 class="section-heading">Retorno</h2>
                <p>Asi es como luego de un gran recorrido volvi a mi ciudad, pero la programación fue algo que me fascino, y aunque me es compleja muchas veces me sorprende mucho las posibilidades que tiene de creación, fue asi que intente hacer javascript y no me gusto solo hacer paginas web, y probe hacer un curso de Python, que honestamente me encanto, y quiero aprender todo lo que pueda de este lenguaje, e intentare conseguir un trabajo al respecto para seguir aprendiendo y al mismo tiempo convivir con el teatro de mi provincia.</p>
            </div>
        </div>
    </div>
</article>
{% endblock %}