{% extends "padre.html" %}

{% load static %}

{% block titulo %}

<h1>formulario de ingreso</h1>

{% endblock %}

{% block contenido %} 


<form action="{% url 'login' %}" method="POST">{% csrf_token %}
    <table style="margin: 20px auto;">
        {{ form.as_table }}
    </table>
    <div style= "text-align: center">
        <p><input type="submit" value="ingresar"></p>
        
        
    </div>
</form>
<div style= "text-align: center">
<p><a href="{% url 'register' %}"><input type="submit" value="crear usuario"></a></p>
</div>
{{ mensaje }}

{% endblock %}